li {
  margin:10px 0 0 0;
}

.white-text {
  color: white;
}

.white-text h2 {
  color: white;
}

section img {
  border: 0 !important;
  box-shadow: none !important;
}

a {
  color: #2196F3 !important;
}

.operator {
  width: 300px;
}
